@charset "utf-8";
/*
 Knight Bootstrap theme by BootstrapTaste.com
 Theme URI: http://bootstraptaste.com/knight-free-bootstrap-theme/
 Author: BootstrapTaste
 Author URI: http://bootstraptaste.com
 */
 
/* CSS Document */

/* Float Elements 
---------------------------------*/
.fl-lt {float:left;}
.fl-rt {float:right;}

/* Clear Floated Elements
---------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.figure{ margin:0px;}

img{ max-width:100%;}

a, a:hover, a:active{ outline:0px !important}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.1.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Primary Styles
---------------------------------*/
.show-on-scroll-wrapper, body:not(.has-banner-image).transparent-header .show-on-scroll-wrapper {
	z-index: 1012;
	top: -20px;
	left: 0;
	width: 100%;
	visibility: hidden;
	pointer-events: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	font-size: 26px;
	text-align: center;
	background-color: #fff;
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-moz-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-ms-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-o-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-webkit-box-shadow: 0px 4px 14px -7px #a1a1a1;
	-moz-box-shadow: 0px 4px 14px -7px #a1a1a1;
	box-shadow: 0px 4px 14px -7px #a1a1a1;
}
.show-on-scroll-wrapper, body:not(.has-banner-image).transparent-header .show-on-scroll-wrapper {
	z-index: 1012;
	top: -20px;
	left: 0;
	width: 100%;
	visibility: hidden;
	pointer-events: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	font-size: 28px;
	text-align: center;
	background-color: #2b2b2b;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-moz-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-ms-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	-o-transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
	transition: opacity .14s ease-in-out,visibility 0s .14s linear,top .14s ease-in-out;
}

.entry-title{
	font-family: bebas-neue;
	font-weight: 400;
	font-style: normal;
	font-size: 62px;
	line-height: 1.1em;
	letter-spacing: 0px;
	text-transform: none;
	text-align:center;
}

.sqs-block-html {
	clear: none;
}

[class*=sqs-col] .sqs-block {
	padding-left: 17px;
	padding-right: 17px;
}

.index-section-wrapper .content.has-main-media .sqs-block-content {
	width: 100%;
}

.sqs-gallery-block-grid {
	overflow: hidden;
}

.index-section-wrapper {
	position: relative;
}

#siteWrapper {
	background-color: #2b2b2b;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

#siteWrapper {
	position: relative;
	padding: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
#siteWrapper {
	font-family: "Kameron",Georgia,serif;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: proxima-nova;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	letter-spacing: .4px;
	line-height: 1.6em;
	color: #fff;
}
.image-slide-title {
	display: block;
	text-align: center;
	font-size: 14px;
	margin-top: 0.5em;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.image-slide-title {
	text-align: center;
	font-size: 16px;
	margin: 0 0 5px 0;
	text-transform: uppercase;
	font-weight: 400;
	color: #ffffff;
}

.dev{
	left: 0;
	top: 0;
	width: 100%;
	height: 238px;
}

.sqs-block {
	position: relative;
	height: auto;
	padding-top: 7px;
	padding-bottom: 17px;
}

.sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):first-child:last-child {
	padding-bottom: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child:last-child {
	padding-bottom: 0;
}
.sqs-layout:not(.sqs-editing)>.sqs-row:first-child>[class*=sqs-col]:first-child>.sqs-block:not(:first-child):last-child, .sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):last-child {
	padding-bottom: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-block+.sqs-row .sqs-block:not(.float):first-child {
	padding-top: 17px;
}
.sqs-layout:not(.sqs-editing) .sqs-row .sqs-block:not(.float):not(.sqs-feature-gated-wrapper):first-child {
	padding-top: 0;
}

.sqs-block-html .sqs-block-content {
	outline: none;
}

.sqs-block-html .sqs-block-content>*:last-child {
	margin-bottom: 0;
}
.sqs-block-html .sqs-block-content>*:first-child {
	margin-top: 0;
}

.sqs-block-button .sqs-block-button-container--center {
	text-align: center;
}

.sqs-row {
	width: auto !important;
}

.sqs-col-12 .sqs-col-2 {
	width: 16.6667%;
}
.sqs-col-2 {
	width: 16.6667%;
}

.img-size {
	left: 0;
	top: 0;
	width: 238px;
	height: 238px;
	position: relative;
}


.sqs-block.sized .sqs-block-content {
	overflow: hidden;
}
.sqs-block.vsize-1 .sqs-block-content {
	height: 34px;
}
.sqs-block-spacer .sqs-block-content {
	visibility: hidden;
}


#footer .nav-wrapper {
	font-family: "Raleway",Arial,sans-serif;
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 1px;
	font-family: bebas-neue;
	font-weight: 400;
	font-style: normal;
	font-size: 16px;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-decoration: none;
}
#secondaryNavWrapper {
	padding: 0 0 1.5em;
	z-index: 1000;
	position: relative;
	line-height: 1.25em;
	text-align: center;
	left: auto;
	right: auto;
}

body:not(.always-use-overlay-nav) .nav-wrapper nav>div, body:not(.always-use-overlay-nav) .nav-wrapper nav span>div {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

#footer .nav-wrapper a, #footer .nav-wrapper a:visited, #footer .nav-wrapper label {
	text-decoration: none;
	border-bottom-width: 0;
	line-height: 1.25em;
	color: #fff;
}

body:not(.always-use-overlay-nav) .nav-wrapper nav>div>a, body:not(.always-use-overlay-nav) .nav-wrapper nav span>div>a, body:not(.always-use-overlay-nav) .nav-wrapper nav>div label, body:not(.always-use-overlay-nav) .nav-wrapper nav span>div label {
	display: block;
	padding: 0.75em 1em;
}
body:not(.always-use-overlay-nav) .nav-wrapper nav>div a, body:not(.always-use-overlay-nav) .nav-wrapper nav span>div a, body:not(.always-use-overlay-nav) .nav-wrapper nav>div label, body:not(.always-use-overlay-nav) .nav-wrapper nav span>div label {
	-webkit-transition: color .1s 0s ease-in-out;
	-moz-transition: color .1s 0s ease-in-out;
	-ms-transition: color .1s 0s ease-in-out;
	-o-transition: color .1s 0s ease-in-out;
	transition: color .1s 0s ease-in-out;
	outline: none;
}

a {
	background: transparent;
}

#siteInfo {
	font-family: "Raleway",Arial,sans-serif;
	font-weight: 500;
	letter-spacing: 2px;
	font-family: bebas-neue;
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	text-decoration: none;
	color: rgba(255,255,255,.8);
}

#siteInfo {
	margin-bottom: 1.5em;
	text-align: center;
}

#siteInfo a, #siteInfo a:visited {
	color: rgba(255,255,255,.8);
}

.site-phone, .site-email {
	white-space: nowrap;
}









.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium {
	color: #fff;
}

.small-button-style-outline .sqs-block-button .sqs-block-button-element--small, .medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium, .large-button-style-outline .sqs-block-button .sqs-block-button-element--large, .small-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--small, .medium-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--medium, .large-button-style-outline .sqs-alternate-block-style-container .sqs-block-button .sqs-block-button-element--large {
	border-width: 2px;
	border-style: solid;
	background-color: transparent;
	transition: 0.1s background-color linear, 0.1s color linear;
}
.sqs-block-button .sqs-block-button-element--medium {
	padding: 21px 34px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 15px;
	font-weight: 600;
	letter-spacing: 1px;
	font-family: bebas-neue;
	font-size: 22px;
	font-weight: 400;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: #1c1c1c;
	background-color: #fff;
	border-color: #fff;
}
.sqs-block-button .sqs-block-button-element {
	display: inline-block;
	width: auto;
	height: auto;
	padding: 1em 2.5em;
	color: #fff;
	background-color: #272727;
	border-width: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1em;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0px;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	line-height: normal;
}

.index-section-wrapper {
	position: relative;
}


.index-section-wrapper .content.has-main-media h1:not(.OT_title) {
	color: #fff;
	font-size: 72px;
	-ms-word-wrap: normal;
	word-wrap: normal;
}

h1:not(.site-title):not(.entry-title):first-child, h2:first-child, h3:first-child {
	margin-top: 0;
}
h1:not(.site-title):not(.logo-image):not(.page-title), .entry-title {
	font-family: "Raleway",Arial,sans-serif;
	font-size: 48px;
	line-height: 1.35em!important;
	font-family: bebas-neue;
	font-weight: bold;
	font-style: normal;
	font-size: 55px;
	line-height: 1.1em;
	letter-spacing: 0;
	text-transform: none;
}
.sqs-block-html .sqs-block-content>*:first-child {
	margin-top: 0;
}
h1:not(.site-title):not(.entry-title), h2, h3 {
	margin: 1.5em auto 0.3em;
}
h1:not(.site-title):not(.page-title), .entry-title {
	color: #fff;
}

body {
	background:#292929;
	margin:0;
}
h2, .menu-selector #navbuttontop {
	color: #fff;
}
h2, .menu-selector #navbuttontop {
	font-family: "Raleway",Arial,sans-serif;
	font-size: 37px;
	line-height: 1.3em;
	letter-spacing: 1px;
	font-family: bebas-neue;
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 1em;
	letter-spacing: 0px;
	text-transform: none;
}
h1, h2, h3 {
	text-rendering: optimizeLegibility;
}

.external{
	color: white!important;
}

.index-section-wrapper .content.has-main-media h2:not(.OT_subtitle) {
	color: #fff;
	font-size: 22px;
}

h1+h1:not(.site-title):not(.entry-title), h1+h2, h1+h3, h2+h1:not(.site-title):not(.entry-title), h2+h2, h2+h3, h3+h1:not(.site-title):not(.entry-title), h3+h2, h3+h3 {
	margin-top: 24px;
}

.sqs-block:not(.sqs-block-html):not(.sqs-block-markdown) {
	clear: both;
}

h3{
	font-family: 'Montserrat', sans-serif;
	color:#222222;
	font-size:16px;
	margin:0 0 5px 0;
	text-transform:uppercase;
	font-weight:400;
}
h6{
	font-size:16px;
	color:#888888;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
	text-align:center;
	margin:0 0 60px 0;
}
p{
	line-height:24px;
	margin:0;
}

/* Header Styles
---------------------------------*/

.youtube{
	text-align:center;
	background:url(../img/caroussel-2x.jpg) center top repeat;

	/*font-size: 0;*/
	left: 0;
	width: 100%;
	height: 939px;
	font-size: 16px;
	letter-spacing: 0;
	font-family: proxima-nova, serif;
	font-weight: 400;
	font-style: normal;
	line-height: 1.6em;
	color: #fff;
}

.index-section-image, .index-image-overlay {
	background-color: rgba(255,255,255,.2);
}


.index-section-wrapper .content.has-main-media {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: subpixel-antialiased;
	padding-top: 100px;
	padding-bottom: 100px;
}





@media only screen and (max-device-height: 1024px){

	.index-section-wrapper .content.has-main-media:not(.gallery-content) {
		padding: 136px 34px;
	}
}
	@media only screen and (max-device-height: 1024px){
		.index-section-wrapper .content:not(.gallery-content) {
			padding: 68px 34px;
		}
		.index-section-wrapper .content.has-main-media {
			-moz-osx-font-smoothing: auto;
			-webkit-font-smoothing: subpixel-antialiased;
			padding-top: 100px;
			padding-bottom: 100px;
		}
		.index-section-wrapper .content {
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			max-width: 1080px;
			padding: 20px 34px;
			margin: auto;
		}
	}


.header{
	text-align:center;
	background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(255,255,255,.2)),
			url(../img/home.jpg) center repeat;
	font-size: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 839px;

	background-size: cover;
	color: white;
}



.logo{
	width: 68px;
	max-width: 68px;
	height: auto;
	-ms-interpolation-mode: bicubic;
	line-height: 1;
	margin:0 auto 35px;
}
.header h1{
	font-family: 'Montserrat',sans-serif;
	font-size:50px;
	font-weight:400;
	letter-spacing: -1px;
	margin:0 0 22px 0 ;
	color:#fff;
}

.we-create{
	padding:0;
	margin:35px 0 55px;
}
.wp-pic{
	margin-bottom:20px;
}
.we-create li{
	display:inline-block;
	font-family: 'Montserrat',sans-serif;
	font-size:14px;
	color: #bcbcbc;
	text-transform: uppercase;
	font-weight: 400;
	margin:0 5px 0 0;
	padding:0 0 0 15px;
}
.we-create li:first-child{
	background:none;
}

.start-button {
	padding-left: 0px;
}

.start-button li a{
color: #fff;
}


.sqs-block-button .sqs-block-button-element:hover {
	opacity: 1;
}

.medium-button-style-outline .sqs-block-button .sqs-block-button-element--medium:hover {
	background-color: #fff;
	color: #1d1d1d;
}

.link{
	color:#fff !important;
	border-radius:3px;
	margin-bottom:20px;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;

	border-width: 2px;
	border-style: solid;
	background-color: transparent;
	transition: 0.1s background-color linear, 0.1s color linear;


	display: inline-block;
	width: auto;
	height: auto;
	padding: 1em 2.5em;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 1em;
	font-weight: normal;
	font-style: normal;
	text-transform: uppercase;
	letter-spacing: 0;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
}
.link:hover {
	text-decoration:none;
	color:#292929 !important;
	background:#fff;
}

.link:active, .link:focus {
	background: #fff;
	text-decoration:none;
	color:#292929 !important;
}

/* Navigation
---------------------------------*/
.main-nav-outer{
	padding:0px;
	border-bottom:1px solid #dddddd;
	box-shadow:0 4px 5px -3px #ececec;
	position:relative;
	background:#fff;
}
.main-nav{
	text-align:center;
	margin:10px 0 0px;
	padding:0;
	list-style:none;
}
.main-nav li{
	display:inline;
	margin:0 1px;
}
.main-nav li a{
	display:inline-block;
	text-transform:uppercase;
	text-decoration: none;
	line-height:1rem;
	margin:17px 22px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	font-size: 18px;
	font-family: "Raleway",Arial,sans-serif;
	font-weight: bold;
	font-family: bebas-neue;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 1px;
	color: #48c7b4;
}

.main-nav li a:hover{ 
	text-decoration:none;
	color: #2b2b2b;
}


.sqs-block-markdown .sqs-block-content *:last-child {
	margin-bottom: 0;
}
.sqs-block-markdown .sqs-block-content *:first-child {
	margin-top: 0;
}
h1:not(.site-title):not(.entry-title), h2, h3 {
	margin: 1.5em auto 0.3em;
}

.small-logo{ 
	padding:0 32px;
}

.main-section{
	/*padding:90px 0 110px;*/
	padding: 68px 34px;
}


/* Services
---------------------------------*/

.service-list{
	padding:0 0 0 0;
	font-size:14px;
	margin-bottom:40px;
}
.service-list-col1{
	float:left;
	width:60px;
}
.service-list-col1 i{
	font-style:normal;
	font-size:38px;
	display:block;
	color:#222;
	font-family: 'FontAwesome';
	line-height:38px;
}
.service-list-col2{
	overflow:hidden;	
}
.main-section.alabaster{
	background:#fafafa;
}

/* Featured Work
---------------------------------*/
.featured-work{
	font-size:14px;
}
.featured-work h2{
	text-align:left;
}
.featured-box{
	padding:0 0 0 0;
	margin-bottom:25px;
	font-size:14px;
}
.featured-box h3{
	margin-bottom:5px;
}
.featured-box p{
	line-height:22px;
}
.featured-work p.padding-b{
	padding-bottom:35px;
}
.featured-box-col1{
	width:60px;
	float:left;
}
.featured-box-col1 i{
	display:block;
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	color:#777777;
	font-style:normal;
}
.featured-box-col2{ overflow:hidden;}
.featured-box.magic{
	background:url(../img/magic.png) left top no-repeat;
}
.featured-box.packaged{
	background:url(../img/packaged.png) left top no-repeat;
}
.featured-box.seo{
	background:url(../img/seo.png) left top no-repeat;
}
.Learn-More{
	display:inline-block;
	padding:0 5px 0 0;
	color:#7cc576;
	font-size:16px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	line-height:24px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	display: none;
}
.Learn-More i{ 
	padding-right:15px;
}

.Learn-More:hover, .Learn-More:focus{ 
	text-decoration:none;
	color: #111;
}


/* Portfolio
---------------------------------*/
.Portfolio-nav{
	padding:0;
	margin:0 0 45px 0;
	list-style:none;
	text-align:center;
}
.Portfolio-nav li{
	margin:0 10px;
	display:inline;
}
.Portfolio-nav li a{
	display:inline-block;
	padding:10px 22px;
	font-size:12px;
	line-height:20px;
	color:#222222;
	border-radius:4px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	background:#f7f7f7;
	margin-bottom:5px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.Portfolio-nav li a:hover{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}

.portfolioContainer{
	margin:0 auto;
	padding-left:15px;
}

.Portfolio-box{
	text-align:center;
	margin-bottom:30px;
	height:350px;
	width:350px;
	overflow:hidden;
	float:left;
	padding:0;
}
.Portfolio-box img{
	margin-bottom:25px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;	
}

.Portfolio-box img:hover {
	opacity: 0.6;
}

.Portfolio-nav li a.current{
	background:#7cc576;
	color:#fff;
	text-decoration:none;
}
img {
   max-width:100%;
}

/* no transition on .isotope container */

.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
          transition-duration: 0.6s;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
          transition-property:         transform, opacity;
}

.main-section.paddind{
	padding-bottom:60px;
}

/* Clients
---------------------------------*/
.bg-opacty{
	background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(255,255,255,.2));
	z-index: 10000;
}


.client-part{
	background:url(../img/tour_dates.jpg) center center no-repeat;
	background-size:cover;
	font-size: 0;
	left: 0;
	top: 0;
	width: 100%;

	filter: blur(5px);
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}




.client-follow{
	background:url(../img/caroussel.jpg) center center no-repeat;
	background-size:cover;
	font-size: 0;
	left: 0;
	top: 0;
	width: 100%;
	height: 988px;
	position: relative;
}
.client-part-haead{
	color:#fdfdfd;
	font-size:28px;
	line-height:41px;
	margin:30px 0 10px;
	font-family: ''Open Sans',sans-serif';
	font-style: italic;
}
.client{
	padding:0;
	margin:20px 0 0;
	list-style:none;
	text-align:center;
}
.client li{
	display:inline;
	margin:0 15px;
}
.client li a{
	display:inline-block;
}
.client li a img{
	margin-bottom:15px;
	/*border-radius:50%;*/
}
.client li a:hover{
	text-decoration:none;
}
.client li a h3{
	color:#ffffff;
}
.client li a span{
	color:#f1f1f1;
}
.quote-right{
	font-style:normal;
	width:68px;
	height:68px;
	margin:0 auto;
	border:2px solid #7cc576;
	border-radius:50%;
	display:block;
	line-height:68px;
	text-align:center;
	font-size:27px;
	color:#7cc576;
	cursor: pointer;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.quote-right:hover{
color: #fff;
border: 2px solid #fff;
}

.c-logo-part{
	background:#7cc576;
	padding:25px 0;
    filter: alpha(opacity=60);
}
.c-logo-part ul{
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}
.c-logo-part ul li{
	display:inline;
	margin:0 25px;
}
.c-logo-part ul a{
	display:inline-block;
	margin: 0 20px;
}
.main-section.team{
	padding:85px 0;
}
.main-section.team h6{
	margin-bottom:40px;
}


/* Team
---------------------------------*/
.team-leader-block{
	max-width:993px;
	margin:0 auto;
}
.team-leader-box{
	width:30.66%;
	margin-right: 3.82979%;
	height: 490px;
	overflow: hidden;
	text-align: center;
	float: left;
}
.team-leader-box span{
	margin-bottom:24px;
	display:block;
}
.team-leader-box:nth-of-type(3n+0){ margin:0;}
.team-leader{
	width:auto;
	height:auto;
	position:relative;
	border-radius:50%;
	box-shadow:0px 0px 0px 7px rgba(241,241,241,0.80);
	margin:7px 7px 25px 7px;
	
}
.team-leader-shadow{
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	border-radius:50%;
	position:absolute;
	width:100%;
	height:100%;
	z-index:10;
	border-radius:50%;
}
.team-leader-shadow a{
	display:block;
	width:100%;
	height:100%;
}
.team-leader:hover .team-leader-shadow{
	box-shadow:inset  0px 0px 0px 148px rgba(17,17,17,0.80);
}
.team-leader:hover ul{ display:block; opacity:1}
.team-leader img{
	display:block;
	border-radius:50%;
}
.team-leader ul{
	display:block;
	opacity:0;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	text-align:center;
	margin-top:-14px;
	z-index:15;
	transition:all 0.6s ease-in-out;
	-moz-transition:all 0.6s ease-in-out;
	-webkit-transition:all 0.6s ease-in-out;
}
.team-leader ul li{
	display:inline;
	margin:0 11px;
}
.team-leader ul li a{
	font-family: 'FontAwesome';
	display:inline-block;
	font-size:28px;
	color:#fff;	
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.team-leader ul li a:hover, .team-leader ul li a:focus{
	text-decoration:none;
}
.team-leader ul li a.fa-twitter:hover{
	color:#55acee;
}
.team-leader ul li a.fa-facebook:hover{
	color:#3b5998;
}
.team-leader ul li a.fa-pinterest:hover{
	color:#cb2026;
}
.team-leader ul li a.fa-google-plus:hover{
	color:#dd4b39;
}

/* Talk Business
---------------------------------*/
.business-talking{
	background:url(../img/BA_Music_02.jpg) top center no-repeat;
	background-size:cover;
	padding:60px 0 10px;
	text-align:center;
}
.business-talking h2{
	font-family: 'Montserrat', sans-serif;
	font-weight:700;
	padding:0;
	margin:20px 0 70px;
	text-transform:uppercase;
	font-size:42px;
	color:#fff;
}


/* Contact
---------------------------------*/
.main-section.contact{
	padding:90px 0 100px;
}

.main-section.contact{
	background:url(../img/bg-map.png) left 190px no-repeat;
}
.contact-info-box{
	font-size:15px;
	margin:0 0 14px 68px;
	padding-left:0;
}
.contact-info-box h3{
	font-size: 15px;
	font-weight:400;
	float:left;
	width:102px;
	margin-right:12px;
	line-height:28px;
}
.contact-info-box h3 i{
	font-style:normal;
	font-size:18px;
	color:#222222;
	font-family: 'FontAwesome';
	font-weight:normal;
	margin-right:7px;
}
.contact-info-box span{
	line-height:28px;
	display:block;
	overflow:hidden;
}
.social-link{
	padding:35px 0;
	margin:0 0 0 68px;
	display:block;
	overflow:hidden;
	list-style:none;
}
.social-link li{
	float:left;
	margin-right:8px;
}
.social-link li a{
	display:block;
	width:50px;
	height:50px;
	text-align:center;
	line-height:50px;
	font-size:25px;
	color:#fff;
	background:#222222;
	border-radius:50%;
	transition:all 0.3s ease-in-out;
}
.social-link li a:hover, .social-link li a:focus{
	text-decoration:none;
}
.twitter a:hover {
	background: #55acee;
}
.facebook a:hover {
	background: #3b5998;
}
.pinterest a:hover {
	background: #cb2026;
}
.gplus a:hover {
	background: #dd4b39;
}
.dribbble a:hover {
	background: #ea4c89;
}

.form{
	margin:0 66px 0 30px;
}
.input-text{
	padding:15px 16px;
	border:1px solid #ccc;
	width:100%;
	height:50px;
	display:block;
	border-radius:4px;
	font-size:15px;
	color:#aaa;
	font-family: 'Open Sans', sans-serif;
	margin:0 0 15px 0;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}
.input-text:focus {
	border: 1px solid #7cc576;
	outline:0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);	
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(124, 197, 118, 0.3);
}

.input-text.text-area{
	height:165px;
	resize:none;
	overflow:auto;
}
.input-btn{
	width:175px;
	height:50px;
	background:#7cc576;
	border-radius:4px;
	color:#ffffff;
	font-size:14px;
	text-transform:uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight:400;
	border:0px;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.input-btn:hover{
	background: #111;
	color: #fff;
}

/* Footer
---------------------------------*/

/*.footer{
	background:url(../img/pw_maze_black_2X.png) left top repeat;
	padding:35px 0 35px;
}*/
.footer-logo{
	margin:15px auto 35px;
	width: 76px;
}
.copyright{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a{
	color:#7cc576;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #7cc576 !important;
}

.portfolioContainer{
	max-width: 1140px;
}


/* Animation Timers
---------------------------------*/
.delay-02s { 
	animation-delay: 0.2s; 
	-webkit-animation-delay: 0.2s; 
}
.delay-03s { 
	animation-delay: 0.3s; 
	-webkit-animation-delay: 0.3s; 
}
.delay-04s { 
	animation-delay: 0.4s; 
	-webkit-animation-delay: 0.4s; 
}

.delay-05s { 
	animation-delay: 0.5s; 
	-webkit-animation-delay: 0.5s; 
}
.delay-06s { 
	animation-delay: 0.6s; 
	-webkit-animation-delay: 0.6s; 
}

.delay-07s { 
	animation-delay: 0.7s; 
	-webkit-animation-delay: 0.7s; 
}
.delay-08s { 
	animation-delay: 0.8s; 
	-webkit-animation-delay: 0.8s; 
}

.delay-09s { 
	animation-delay: 0.9s; 
	-webkit-animation-delay: 0.9s; 
}
.delay-1s { 
	animation-delay: 1s; 
	-webkit-animation-delay: 1s; 
}
.delay-12s { 
	animation-delay: 1.2s; 
	-webkit-animation-delay: 1.2s; 
}


@media (max-width: 768px) {
	#myHeader{
		display: none;
	}
}
